# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IntelliJ project files
.idea
*.iml
out
gen
classes
.idea/
Dockerfile
*/target/
transaction-logs/
*.log
.idea/libraries/
platform-cloud-service-api/platform-cloud-service-api.iml
platform-cloud-service-boot/platform-cloud-service-boot.iml
platform-cloud-service-common/platform-cloud-service-common.iml
platform-cloud-service-webapp/platform-cloud-service-webapp.iml
